body {
  font-family: 'Montserrat', sans-serif;
  background-color:#51c2d5;

  text-align: center;

}
h1{
  text-align: center;

}
a{
  color: #000;
}
#headdiv
{
    line-height: 3rem;
    margin:20%;


}
.h-head{
  font-size: 3rem;
  line-height: 1.5;
}
.container{
  padding: 7% 15%;
  text-align: center;
}
.row{
  margin-left: 0px;
padding-left: 20%;
margin-right: 0px;
}
.subDiv1, .subDiv2, .subDiv3, .subDiv4
{
    padding: 7% 15%;
    border-radius: 10%;
}
.subDiv1
{
    color:white;
    background-color:#ffe227;
	  margin:20px;
}

.subDiv2{
  color:white;
  background-color: #ff3300;
  margin:20px;
}

.subDiv3{
  color:white;
  background-color:#4d79ff;
  margin: 20px;
}
.subDiv4{
  color:white;
  background-color:#ff0066;
  margin:20px;
}
/*#subDiv7
{
    float:left;
    margin-left:2px;
}
#subDiv8
{
    float:left;
    margin-left:20px;
}*/
